.item {
    background: #54ECC4;
    width: 90%;
    max-width: 1500px;
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    justify-content: space-betweens;
    align-items: center;
    margin: 100px auto;
    padding: 25px;
  }
  
  .item__details {
    font-weight: 700;
    color: #333;
    font-size: 1.1rem;
  }
  
  .item__img {
    width: 150px;
    height: 150px;
  }
  
  .item__info {
    color: black;
    font-size: 1.15rem;
    font-weight: 500;
  }
  
  .item__chart {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }