body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333;
}

.title {
  font-size: 3.5rem;
  color: #F2ECFF;
  margin: 20px auto;
  text-align: center;
}

.currency-list {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.currency-list ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.currency-list li {
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  height: 80px;
  font-weight: 500;
  padding: 0 20px;
  align-items: center;
}

.currency-list ul li:nth-child(2n+1) {
  background: #54ECC4;
}

.currency-list ul li:nth-child(2n+2) {
  background: #00B38F;
}

.currency-list__searchField {
  width: 100%;
  height: 60px;
  padding: 0 18px;
  border: 2px solid white;
  background: rgba(33, 33, 33, 0.9);
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}

.currency-list__img {
  width: 40px;
  height: 40px;
}

.btn {
  height: 40px;
  width: 150px;
  background: none;
  color: #333;
  border: 2px solid #333;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.btn--large {
  width: 100%;
}

.btn:hover {
  color: #fff;
  border: 2px solid #fff;
  background: #333;
} 


/* Individual currency */

.item {
  background: #54ECC4;
  width: 90%;
  max-width: 800px;
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-betweens;
  align-items: center;
  margin: 100px auto;
  padding: 25px;
}

.item__details {
  font-weight: 700;
  color: #333;
  font-size: 1.35rem;
}
